.p-datepicker.p-connected-overlay-enter-done:not(.p-datepicker-inline) .p-datepicker-header {
    padding: 0px;
}

.p-datepicker.p-connected-overlay-enter-done:not(.p-datepicker-inline) table th {
    padding: 0.25rem;
    text-align: center;
}

.p-datepicker.p-connected-overlay-enter-done:not(.p-datepicker-inline) table td {
    padding: 0px;
}

.p-calendar-w-btn .p-inputtext.p-component{
   padding: 0.35rem 0.35rem;
}